name: Perform Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  Test-PR:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4.0.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: latest
          standalone: true
          run_install: false


      - name: Install Dependencies
        shell: bash
        run: pnpm i

      - name: Typecheck
        run: pnpm exec tsc

      - name: Lint
        run: pnpm run lint:check

      - name: Run Tests
        run: pnpm run test --run --reporter=verbose
